
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

@using (Html.BeginForm("index ", "monto", FormMethod.Post))  
{
   
    <html>

    <body>
        <label>Cantida</label>

    </body>

</html>

}

